<html>
 <body>
  PAGE
  <h1><%= randomNumberArr %></h1>
  <form method="get" action="/">
    
<input name="hotdog+(1)" type="checkbox" id="myCheckbox1" />
<label for="myCheckbox1"><img src="https://mybucket199973.s3.amazonaws.com/Base_Hotdogs/Hoddog/hotdog+(<%= pic1 %>).jpg" /></label>
<input name="hotdog+(2)" type="checkbox" id="myCheckbox2" />
<label for="myCheckbox2"><img src="https://mybucket199973.s3.amazonaws.com/Base_Hotdogs/Hoddog/hotdog+(<%= pic2 %>).jpg" /></label>
<input name="hotdog+(3)" type="checkbox" id="myCheckbox3" />
<label for="myCheckbox3"><img src="https://mybucket199973.s3.amazonaws.com/Base_Hotdogs/Hoddog/hotdog+(<%= pic3 %>).jpg" /></label>
<input name="hotdog+(4)" type="checkbox" id="myCheckbox4" />
<label for="myCheckbox4"><img src="https://mybucket199973.s3.amazonaws.com/Base_Hotdogs/Hoddog/hotdog+(<%= pic4 %>).jpg" /></label>
    <input type="submit" value="get">
  </form>
 </body>

</html>